<div class="main">
  <div>
    <h1>Markers</h1>
    <input
      type="text"
      [(ngModel)]="message"
      (input)="updateMarkets()"
      placeholder="введите название точки"
    />
    <div *ngFor="let marker of featers | async">
      <div *ngIf="marker.properties.message">
        <button (click)="flyTo(marker)">
          {{ marker.properties.message }}
        </button>
        <button (click)="removeMarker(marker.properties.id)">Delete</button>
        <button (click)="editMarker(marker)">Edit</button>
      </div>
    </div>
  </div>
  <div>
    <h1>Poligons</h1>
    <input
      type="text"
      [(ngModel)]="messagePoligon"
      (input)="updatePolygon()"
      placeholder="введите название точки полигона"
    />
  </div>
</div>
<div id="map" class="map" class="match-parent"></div>
